<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tragaperras</title>
    <link rel="stylesheet" href="./bower_components/jQuery-SlotMachine/dist/jquery.slotmachine.min.css" type="text/css"/>
    <link rel="stylesheet" href="main.css" type="text/css"/>
  </head>
  <body>
    <div id="app">
      <section class="slotmachine-container">
        <!--<div class="slotmachine-scoretable"></div>-->
        <div class="slotmachine-body" id="slotMachine">
          <div class="slotmachine-result">
            <span class="slotmachine-result-text" v-bind:class="{ 'lose': !win }">Ganador</span>
          </div>
          <div class="slotmachine-display">
            <span class="shadow-top"></span>
            <span class="shadow-bottom"></span>
            <div class="slotmachine-display-slot" id="slot1">
                <div v-for="opt in options">
                  <img :src.sync="opt.pic" width="auto" height="70">
                </div>  
            </div>
            <span class="shadow-top"></span>
            <span class="shadow-bottom"></span>
            <div class="slotmachine-display-slot" id="slot2">
                <div v-for="opt in options">
                  <img :src.sync="opt.pic" width="auto" height="70">
                </div>  
            </div>
            <span class="shadow-top"></span>
            <span class="shadow-bottom"></span>
            <div class="slotmachine-display-slot" id="slot3">
                <div v-for="opt in options">
                  <img :src.sync="opt.pic" width="auto" height="70">
                </div>  
            </div>
            <div class="slotmachine-stats">
              <div class="slotmachine-stats-slot">
                <h3>Creditos</h3>
                <p>{{ credits }}</p>
              </div>
              <div class="slotmachine-stats-slot">
                <h3>Apuesta</h3>
                <p>{{ bet }}</p>
              </div>
              <div class="slotmachine-stats-button no-select" v-bind:class="{'disabled' : bet >=5 }" @click="betOne">+1</div>
            </div>
          </div>
          <div class="slotmachine-handle">
            <div class="button" id="playBtn" @click="shuffle">
              <div id="equation" class="done">
                <div id="shoulder">
                  <div id="arm" v-bind:class="{'clicked': handle}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="./bower_components/vue/dist/vue.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/jQuery-SlotMachine/dist/jquery.slotmachine.js" charset="utf-8"></script>  
    <script src="app.js"></script>

    <script type="text/javascript" charset="utf-8">  
    </script> 
  </body>
</html>
